<div class="step" *ngFor="let step of steps">
  <div class="header">
    <div class="icon">
      <div class="circle" [ngClass]="{'done': step.done }">
        <md-icon *ngIf="iconType(step)">{{ iconType(step) }}</md-icon>
        <span *ngIf="! iconType(step)">{{ step.order }}</span>
      </div>
    </div>
    <div class="title">
      {{ title(step) }}
    </div>
  </div>

  <div class="content">
    <riddles *ngIf="step.content && step.content.type === 'riddles'"></riddles>
    <quizzes *ngIf="step.content && step.content.type === 'quizzes'"></quizzes>
    <beatbox *ngIf="step.content && step.content.type === 'beatbox'"></beatbox>

  </div>

</div>

<div class="step">
  <div class="header">
    <div class="icon">
      <div class="circle">
        ?
      </div>

    </div>

  </div>
</div>
